nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}